.App {
    color: rgb(255, 255, 255);
}

.App-Header {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-size: cover;
    background-color: #1a1c1f;
    
}
.App-Body {
    margin-top:80%;
}
/*farbe funktioniert grade nd*/
.InField {
    width: 90%;
    color: #282b30;
}